

:root {
    --color-one: #8261EE;
    --color-two: #FF589E;
    --color-text: #1e1e1e;

    --font: "Raleway", sans-serif;
}

body {
    line-height: 1.6;
    color: var(--color-text);
    font-family: var(--font);
    margin: 0;
}

.text-align-center {
    text-align: center;
}
a {
    text-decoration: none;
}

a:hover {
    color: var(--color-two)
}


/* button */
.button {
    display: inline-block;
    padding: 8px 20px;
    border-radius: 45px;
    background-color: var(--color-text);
    font-size: 13px;
    transition: all 0.3s ease 0s;
}

.button-two {
    background-color: var(--color-two);
    color: white;
}

.button-two:hover {
    background-color: var(--color-one);
    color: white;
}
/* end button  */
